<% provide :title, t(".contact_title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".description_title" %>
  <%= link_to t(".ruby_on_rails_contact"), Settings.links.rails_tutorial.contact_page %>
</p>
