<% provide :title, (t ".home_title") %>
<h1><%= t ".heading" %></h1>
<p>
  <%= t ".description_title" %>
  <%= t ".description_detail" %>
  <%= link_to t("ruby_on_rails_tut"), Settings.links.rails_tutorial.home_page %>
</p>

