<% provide :title, t(".index_title") %>
<h1><%= t ".heading" %></h1>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
<ul class="users">
  <%= render @users %>
</ul>
<%= paginate @users, theme: "twitter-bootstrap-3" %>
